body{
    background-color: aqua;
}

header{
    background-color: aquamarine;
    padding: 3%;
}

/* classe atribuida para a div que vai receber o logo tipo */
.logo{
    background-color: blue;
}

nav{
    background-color: cadetblue;
}

main{
    background-color: cornflowerblue;
    width: 80%;
    margin: auto;
}

section{
    background-color: darkcyan;
}

footer{
    background-color: darkturquoise;
    padding: 3%;
}

.cabecalho{
    padding: 3%;
}
.rodape{
    padding: 3%;
}