body{
    background-color: rgba(167, 76, 228, 0.774);
    line-height: 4;
    background-image: url(../img/Brawl-Stars-tier-list-capa.webp);
    background-repeat: center;
    background-size: cover;
    overflow-x: hidden;
}

header{
    background-color: rgba(76, 168, 221, 0);
    padding: 4px;
    
}

/* classe atribuida para a div que vai receber o logo tipo */
.logo{
    background-color: rgba(89, 8, 218, 0);
    left: 30%;
    position: relative;
    
}

nav{
    background-color: rgba(147, 47, 228, 0);
}

main{
    background-color: rgba(43, 21, 240, 0);
    width: 80%;
    margin: auto;
}

section{
    background-color: rgba(182, 52, 214, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

footer{
    background-color: rgba(142, 85, 233, 0);
    padding: 3%;
}

.cabecalho{
    padding: 3%;
}
.rodape{
    padding: 3%;
    
}

.titulos{
    line-height: 3;
    text-align: center;
    font-weight: bold;
}

h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;
}

p{
    line-height: 1.5;
    font-size: 1.2em;
    text-align: justify;
}
h1,h2,p,li{
color: cornsilk;

}

figure {
    text-align: center;
    display: inline-block;    
}

figure figcaption{
    margin: 1.0em;    
    text-align: center;
    color: gold;
}

